/*FUENTES
.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  */

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

img{
    display: block;
    max-width: 57px;
    align-self: flex-end;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (width>768px){
    body{
        display: flex;
    }
}

header{
    margin-top: 85px;
    margin-bottom: 76px;
    width: 311px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    background-color: #EA5454;
}



@media screen and (width>768px){
    header{
        margin: 80px auto 64px;
        width: 540px;
        align-items: center;
    }
}

p{
    font-weight: 400;
    color: rgba(77, 79, 98, 0.5);
}

h2{
    font-size: 24px;
}

@media screen and (width>768px){
    h2{
        font-size: 36px;
    }
}

.content{
    margin: 32px;
    background-color: #44D3D2;
}

@media screen and (width>768px){
    .content{
        margin: 165px auto;
        flex-direction: row;
        justify-content: space-between;
    }
}

h3{ 
    font-weight: 20px;
    margin-bottom: 1px;
    margin-top: 0px;
}

.title1{
    font-weight: 200;
    margin-bottom: 1px;
}


.title2{
    margin-top: 1px;
}
.subtitle{
    font-size: 15px;
}

.text{
    font-size: 13px;
    line-height: 23px;
    margin-top: 1px;
}

.card{
    width: 331px;
    height: 222px;
    background-color: #FFF;
    padding: 28px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card1{
    border-top: 5px solid #44D3D2;
}

.card2{
    border-top: 5px solid #EA5454;
}

@media screen and (width>768px){
    .card2{
        align-self: flex-end;
    }
}

.card3{
    border-top: 5px solid #FCAE4A;
}

.card4{
    border-top: 5px solid #549EF2;
}

